<h1 class='title'>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<button class='alert'>
  alerta!
</button>

<select name='select-box'> 
  <option value='1'>Uno</option>
  <option value='2'>Dos</option>
  <option value='3'>Tres</option>
</select>

<select name='select-box'> 
  <option value='4'>Cuatro</option>
  <option value='5'>Cinco</option>
  <option value='6'>Seis</option>
</select>

<input type='text' class='nombre' placeholder='Nombre'>

<p class='result'></p>

<p class='text'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, blanditiis mollitia assumenda non laboriosam beatae eaque officiis nulla nobis rerum sapiente in placeat veritatis est deleniti, facere dicta veniam saepe?
</p>

<button class='hide'>Ocultar</button>
<button class='show'>Mostar</button>
<button class='toggle'>Toggle</button>