<h1>Home#products</h1>
<p>Find me in app/views/home/products.html.erb</p>

<button class='alert'>
  alerta!
</button>

<select name='select-box'> 
  <option value='1'>Uno</option>
  <option value='2'>Dos</option>
  <option value='3'>Tres</option>
</select>

<select name='select-box'> 
  <option value='4'>Cuatro</option>
  <option value='5'>Cinco</option>
  <option value='6'>Seis</option>
</select>

<input type='text' class='nombre' placeholder='Nombre'>

<p class='result'></p>

<p class='text'><span></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, <strong>blanditiis</strong> mollitia assumenda non laboriosam beatae eaque officiis nulla nobis rerum sapiente in placeat veritatis est deleniti, facere dicta veniam saepe?
</p>

<div class='row'>
<%= image_tag 'p', class: 'himage', width: '500px'%>
</div>

<button class='hide'>Ocultar</button>
<button class='show'>Mostar</button>
<button class='toggle'>Toggle</button>
<button class='fadeout'>Fade Out</button>
<button class='fadein'>Fade In</button>
<button class='fadetoggle'>Fade Toggle</button>

<ul class='colors'></ul>